.accordion {
  border-top: 1px solid $color-basic-a20;

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    margin: 0;
    margin-block-start: 33px;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 16px;
    border-bottom: 1px solid $color-basic-a20;

    @include vp-tablet {
      margin-block-start: 30px;
      padding-block-end: 19px;
    }

    @include vp-mobile {
      margin-block-start: 20px;
      padding-block-end: 8px;
    }

    &.is-active {
      padding-block-end: 23px;

      @include vp-tablet {
        // margin-block-start: 29px;
        padding-block-end: 24px;
      }

      @include vp-mobile {
        margin-block-start: 20px;
        padding-block-end: 19px;
      }
    }
  }

  &__content {
    margin-block-start: 14px;
    padding: 0 200px 0 0;

    @include vp-tablet {
      padding-inline-end: 150px;
    }

    @include vp-mobile {
      margin-block-start: 11px;
      padding-inline-end: 0;
    }
  }

  & p {
    margin: 0;
    font-family: $font-basic;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    /* 25.2px */

    @include vp-mobile {
      font-size: 16px;
      font-weight: 300;
      line-height: 140%;
      /* 22.4px */
    }
  }

  &__button {
    position: relative;
    padding: 0 60px 0 0;
    margin: 0;
    background-color: transparent;
    border: none;

    width: 100%;
    color: $color-basic;
    font-family: $font-basic;
    font-size: 24px;
    font-weight: 400;
    -webkit-text-stroke: 0.6px $color-basic;
    line-height: 120%;
    text-align: left;

    @include vp-tablet {
      line-height: 120%;
      /* 24px */
    }

    @include vp-mobile {
      font-size: 18px;
      line-height: 120%;
      /* 21.6px */
    }

    &.is-active {
      @include vp-tablet {}
    }

    cursor: pointer;

    &:focus-visible {
      outline: none;
    }

    &::before {
      display: block;
      content: "";
      width: 42px;
      height: 42px;
      border: 1px solid $color-basic;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color 200ms;

      @include vp-mobile {
        width: 32px;
        height: 32px;
      }
    }

    &:hover::before,
    &:focus-visible::before {
      background-color: $color-basic;
    }

    &::after {
      display: block;
      content: "";
      width: 18px;
      height: 18px;
      mask: url(../img/sprite.svg#plus-sign);
      background-color: $color-basic;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);

      @include vp-mobile {
        width: 12px;
        height: 12px;
        mask: url(../img/sprite.svg#plus-sign-s);
        background-color: $color-basic;
        position: absolute;
        right: 9px;

      }
    }

    &:hover::after,
    &:focus-visible::after {
      background-color: $color-white;
    }
  }

  &__element.is-active>&__button::before {
    background-color: $color-white;
  }

  &__element.is-active>&__button:hover::before {
    background-color: $color-basic;
  }

  &__element.is-active>&__button::after {
    mask: url(../img/sprite.svg#minus-sign);
    background-color: $color-basic;

    @include vp-mobile {
      mask: url(../img/sprite.svg#minus-sign-s);
    }
  }

  &__element.is-active>&__button:hover::after {
    background-color: $color-white;
  }
}
