.advantages-table {
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: repeat(2, 158px);
  column-gap: 60px;
  font-family: $font-basic;
}

dl.advantages-table,
.advantages-table dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-table__main-item {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: #1c3374;
  color: $color-white;
  padding: 35px 34px 65px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantage-table__main-item dt {
  // font-family: $font-basic;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
}

.advantage-table__main-item span {
  display: block;
  font-size: 74px;
  line-height: 111px;
  margin-block-end: -20px;
}

.advantage-table__main-item dd {
  font-size: 16px;
  line-height: 24px;
  margin-block-start: auto;
}

.advantage-table__item  {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  column-gap: 30px;
}

.advantage-table__item {
  border-bottom: 1px solid $adv-understroke-a20;
}

.advantage-table__item:last-child,
.advantage-table__item:nth-last-child(2) {
  border: none;
  align-self: end;
}

.advantage-table__item dt {
  grid-row: 1 / 3;
  color: #2e35ac;
  // font-family: $font-basic;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-block-start: -28px;
}

.advantage-table__item:nth-child(2n) dt {
  padding-inline-start: 19px;
}

.advantage-table__item span {
  display: block;
  margin-block-end: -20px;
  background: $gradient-text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  // font-family: $font-basic;
  font-size: 71px;
  font-weight: 700;
  line-height: 106.5px;
}

.advantage-table__item dd {
  // color: #102654;
  // font-family: $font-basic;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
}

.advantage-table__item dd:first-of-type {
  font-size: 22px;
  font-weight: 700;
  line-height: 14px;
  margin-block-end: 10px;
}
