.advantages-table {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: repeat(2, minmax(133px, auto));
  row-gap: 40px;

  @include vp-tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto minmax(239px, auto) auto;
    column-gap: 34px;
    row-gap: 42px;
  }

  @include vp-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 239px auto auto;
    row-gap: 50px;
  }
}

dl.advantages-table,
.advantages-table dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-table__main-item {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: $bg-card;
  color: $color-white;
  height: 100%;
  padding: 35px 34px 57px;
  display: grid;
  // grid-template-rows: min-content minmax(0, 50px) min-content;
  text-align: center;

  @include vp-tablet {
    grid-column: 1 / -1;
    grid-row: 2 / -2;
    margin-inline: 118px;
    padding: 14px 135px 38px;
  }

  @include vp-mobile {
    width: 100%;
    grid-row: 3 / 4;
    padding: 19px calc((100vw - 200px) / 2) 43px;
    margin-inline: auto;
  }
}

.advantages-table__main-item dt {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  margin-block-end: 10px;

  @include vp-tablet {
    font-size: 22px;
    line-height: 40px;
  }

  @include vp-mobile {
    line-height: 32px;
  }
}

.advantages-table__main-item span {
  display: block;
  font-size: 74px;
  line-height: 111px;
  margin-block-end: -16px;

  @include vp-tablet {
    margin-block-end: -22px;
  }
}

.advantages-table__main-item dd {
  // grid-row: 3 / 4;
  margin-block-start: auto;
  font-size: 16px;
  line-height: 24px;
}

// .advantages-table__item:nth-last-child(n + 3) {
.advantages-table__item {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 30px;

  align-self: end;
  transform: translateY(7px);

  @include vp-mobile {
    transform: translateY(-1px);
  }

  @include vp-mobile {
    width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
  }
}

.advantages-table__item:nth-last-child(n+3) {
  position: relative;
  align-self: unset;
  transform: translateY(0);

  &::after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    bottom: -20px;
    background-color: $adv-understroke-a20;

    @include vp-tablet {
      display: none;
    }
  }
}

.advantages-table__item:nth-child(2n) {
  grid-column: 1 / 2;
  margin-inline-end: 60px;
}

.advantages-table__item:nth-child(2n + 1) {
  grid-column: -1 / -2;
  margin-inline-start: 60px;
}

.advantages-table__item:nth-child(2n),
.advantages-table__item:nth-child(2n + 1) {
  @include vp-tablet {
    margin-inline: 0;
  }

  @include vp-mobile {
    margin-inline: auto;
  }
}

.advantages-table__item dt {
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-block-start: 0;

  @include vp-tablet {
    margin-block-start: -22px;
  }

  @include vp-mobile {
    margin-block-end: 4px;
  }
}

.advantages-table__item:nth-child(2n) dt {
  padding-inline-start: 19px;
  min-width: 126px;

  @include vp-tablet {
    padding: 0;
    min-width: 90px;
  }

  @include vp-mobile {
    min-width: unset;
  }
}

.advantages-table__item span {
  display: block;
  margin-block-start: -10px;
  margin-block-end: -5px;
  background: $gradient-text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 71px;
  font-weight: 700;
  line-height: 71px;

  @include vp-tablet {
    margin-block-start: 1px;
    margin-block-end: -18px;
    font-size: 58px;
    line-height: 87px;
  }
}

.advantages-table__item p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  @include vp-mobile {
    margin-block-end: -8px;
  }
}

.advantages-table__item p:first-of-type {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-block-end: 10px;

  @include vp-tablet {
    font-size: 20px;
    line-height: 19px;
    margin-block-end: 7px;
  }

  @include vp-mobile {
    line-height: 30px;
    margin-block-end: 3px;
  }
}

.advantages-table__item-defintion {
  @include vp-mobile {
    margin-block-end: 7px;
  }
}
