.btn {
  display: inline-flex;
  // padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  &--bg-dark {
    color: $color-white;
    background-color: transparent;
    border: 4px solid $color-white;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-accent;
      background-color: $color-white;
    }

    &:active {
      outline: none;
      color: $bg-dark;
      background-color: $color-white;
    }
  }

  &--bg-light {
    background-color: transparent;
    border: 2px solid $color-basic;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-white;
      background: $gradient-button;
      border: none;
    }

    &:active {
      outline: none;
      color: $bg-dark;
      background-color: $color-white;
    }

  }

  &--thin-border {
    border-width: 2px;
  }
  
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
