.contacts {
  border-top: 1px solid $column-divider;
  padding: 56px 0 67px 120px;

  @include vp-tablet {
    border: none;
    width: 100%;
    padding: 61px calc((100% - 500px) / 2 + 30px) 63px calc((100% - 500px) / 2);
    margin-inline: auto;
  }

  @include vp-mobile {
    padding: 64px 0 63px;
  }

  h2 {
    margin: 0;
    font-family: $ff-accent;
    font-size: 54px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 1.62px;

    @include vp-tablet {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.26px;
    }

    @include vp-mobile {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.96px;
    }
  }

  ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-block-start: 35px;
    margin-block-end: -20px;

    columns: 2;
    column-gap: 124px;

    @include vp-tablet {
      margin-block-start: 33px;
      column-gap: 155px;
    }

    @include vp-mobile {
      margin-block-start: 35px;
      columns: unset;
    }
  }

  li {
    display: block;
    margin-bottom: 20px;
    margin-right: -70px;
    break-inside: avoid;

    @include vp-mobile {
      margin-bottom: 19px;
      margin-right: 0;
    }
  }

  li:first-child::after {
    position: absolute;
    content: "";
    background-color: $column-divider;
    display: block;
    width: 1px;
    top: 6px;
    bottom: 26px;
    left: 51%;

    @include vp-tablet {
      left: 56.3%;
    }

    @include vp-mobile {
      content: none;
    }
  }

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    /* 24px */

    &::after {
      content: ":";
    }

    @include vp-tablet {
      font-size: 20px;
    }
  }

  p,
  a {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 152.34%;
    /* 21.328px */

    @include vp-tablet {
      font-size: 18px;
      margin-block-start: 5px;
    }

    @include vp-mobile {
      line-height: 155%;
      /* 21.328px */
    }
  }
}

.contacts__item-link {
  position: relative;
  width: fit-content;

  &:focus-visible {
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }

  &:disabled,
  &:not([href]) {
    pointer-events: none;
    opacity: 0.3;
  }

  &:hover::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-block-end: 1px solid $color-basic;
  }

  &:focus-visible::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    border: 1px solid $color-basic;
  }

  &:active::after {
    display: none;
  }
}
