.promotion-form__custom-input {
  position: relative;

  width: 100%;
  display: flex;
  // width: 530px;
  // padding: 10px 0;

  @media screen and (max-width: 767px) {
    padding: 4px 0 19px;
    width: 100%;
  }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  input {

    color: $color-white;

    font-family: $font-basic;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */

    flex-grow: 1;
    // max-width: 300px;
    // min-height: 36px;
    // margin-left: auto;
    padding: 10px 0 3px 15px;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-white-a50;
    outline: none;

    transition: border 0.3s ease;

    &::placeholder {
      color: $color-white;
      transform: translateX(-15px);
    }

    @media screen and (max-width: 767px) {
      max-width: unset;
      width: 100%;
    }

    &:disabled {
      opacity: 0.5;
      border-color: $color-white;
    }

    &:hover {
      border-color: $color-white;
    }

    &:focus {
      border: 1px solid $color-white;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }


  // &__label {
  //   @media screen and (max-width: 767px) {
  //     margin: 0 0 18px 0;
  //   }
  // }

  // &__error {

  //   position: absolute;
  //   right: 0;
  //   bottom: 35px;

  //   color: #ff1553;

  //   opacity: 0;

  //   transition: opacity 0.3s ease;

  //   @media screen and (max-width: 767px) {
  //     bottom: 20px;
  //   }
  // }

  &.is-invalid {

    input {
      border-color: #ff1553;

      //   &:focus,
      //   &:hover {
      //     border: 2px solid rgba(#ff1553, 0.5);
      //   }
      // }
    }

    // &.is-valid {
    //   input {
    //     border: 2px solid #22b259;

    //     &:focus,
    //     &:hover {
    //       border: 2px solid rgba(#22b259, 0.5);
    //     }
    //   }
    // }


    .input-message {

      font-family: $font-basic;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      /* 157.143% */

      position: absolute;
      left: 0;
      bottom: -22px;

      @include vp-mobile {
        bottom: -8px;
      }

      &.is-invalid {
        color: #ff0000;
      }

      &.is-valid {
        color: #15ab07;
      }
    }
  }
}
