.events {
  padding-block-start: 120px;

  @include vp-tablet {
    padding-block-start: 100px;
  }

  @include vp-mobile {
    padding-block-start: 70px;

  }
}

.events__banner {
  width: 100%;
  max-width: 1160px;
  min-height: 500px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 500px 1fr;

  @include vp-tablet {
    grid-template-columns: 292px 1fr;
    min-height: 292px;
  }

  @include vp-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(292px, auto) 292px;
  }
}

.events__banner-content {
  color: $color-white;
  background-color: $bg-banner;
  padding: 80px 15.5% 87px;
  display: flex;
  flex-direction: column;

  @include vp-tablet {
    padding: 46px 15.5% 50px;
  }

  @include vp-mobile {
    width: 202px;
    padding: 46px 0 50px;
    margin-inline: auto;
  }
}

.events__banner-description {
  width: 100%;
  display: grid;
  grid-template-columns: min-content 1fr auto;
  align-items: center;
}

.events__banner-description h3 {
  display: block;
  margin: 0;
  margin-inline: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: $font-accent;
  font-size: 82px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 2.46px;
  text-transform: uppercase;

  @include vp-tablet {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
    margin-inline: 6px;
    padding-bottom: 3px;
  }
}

.events__banner-description dl {
  font-family: $font-basic;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: -2 / -1;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-tablet {
    gap: 0;
  }
}

.events__banner-description dt {
  font-size: 18px;
  line-height: 31px;

  @include vp-tablet {
    font-size: 12px;
    line-height: 20px;
  }
}

.events__banner-description dd {
  margin: 0;
  width: fit-content;
  border-top: 1px solid $color-white;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;

  @include vp-tablet {
    font-size: 24px;
    line-height: 31px;
  }
}

.events__banner-description span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: inline-block;
  width: min-content;
  margin-left: 7px;

  @include vp-tablet {
    font-size: 10px;
    line-height: 11px;
    margin-left: 4px;
  }
}

.events__banner p {
  font-family: $font-basic;

  @include vp-tablet {
    margin: 0;
    margin-block-start: 4px;
    font-size: 12px;
    line-height: 18px;
  }
}

.events__button {
  height: 70px;
  margin-block-start: auto;

  @include vp-tablet {
    height: 41px;
  }
}

.events__banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include vp-tablet {
    height: 292px;
    object-fit: cover;
  }

  @include vp-mobile {
    grid-column: 1 / -1;
  }
}
