.event-banner {
  width: 100%;
  max-width: 1160px;
  min-height: 500px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 500px 1fr;
  background-color: $bg-banner;

  @include vp-tablet {
    grid-template-columns: 292px 1fr;
    min-height: 292px;
  }

  @include vp-mobile {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(292px, auto) 292px;
  }
}

.event-banner__content {
  color: $color-white;
  background-color: $bg-banner;
  padding: 80px 15.5% 85px;
  display: flex;
  flex-direction: column;

  @include vp-tablet {
    padding: 46px 15.5% 50px;
  }

  @include vp-mobile {
    width: 202px;
    padding: 46px 0 51px;
    margin-inline: auto;
  }
}

.event-banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include vp-tablet {
    height: 292px;
    object-fit: cover;
  }

  @include vp-mobile {
    grid-column: 1 / -1;
  }
}
