.gym {
  margin: 0;
  padding-block: 120px;

  @include vp-tablet {
    padding-block: 100px;
  }

  @include vp-mobile {
    padding-block: 63px;
  }
}

.gym__section-content {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50fr 66fr;
  grid-template-rows: 401px minmax(115px, auto);

  @include vp-tablet {
    grid-template-columns: 1fr;
    grid-template-rows: auto 345px 83px;
    justify-items: center;
  }

  @include vp-mobile {
    display: block;
    justify-items: unset;
  }
}

.gym__description {
  grid-row: 1 / -1;
  padding: 39px 85px 38px 60px;

  @include vp-tablet {
    grid-row: unset;
    padding: 0 0 35px;
    max-width: 640px;
  }

  @include vp-mobile {
    padding: 0 15px 32px;
  }
}

.gym__description h2 {
  margin: 0;
  color: #102654;
  font-family: $ff-accent;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1.44px;
  margin-block-end: 7px;

  @include vp-tablet {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1.26px;
    margin-block-end: -2px;
  }

  @include vp-mobile {
    text-align: left;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
    margin-block-end: 7px;
  }
}

.gym__description h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-block-end: 39px;
  /* 150% */

  @include vp-tablet {
    text-align: center;
    margin-block-end: 37px;
  }

  @include vp-mobile {
    text-align: left;
    margin-block-end: 24px;
  }
}

.gym__description p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  margin-block-end: 7px;
  /* 24px */

  @include vp-tablet {
    text-align: center;
    display: none;
  }

  @include vp-mobile {
    text-align: left;
    margin-block-end: 0;
  }
}

.gym__description p + p {
  margin-block-end: 0;
}

.gym__description p:first-of-type {
  @include vp-tablet {
    display: block;
  }
}

.gym__img img {
  justify-self: unset;
  height: 100%;
  width: 100%;
  background-color: #d2d4e1;
  object-fit: cover;

  @include vp-tablet {
    width: 678px;
    height: 345px;
    object-fit: none;
  }

  @include vp-mobile {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.gym__video {
  grid-column: -2 / -1;
  grid-row: -1 / -2;
  width: 364px;
  height: 228px;
  position: absolute;
  top: -113px;
  left: -63px;
  background-color: #7989ad;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  iframe {
    width: 100%;
    height: 100%;
    border: none;

    @include vp-mobile {
      aspect-ratio: 320/167;
    }
  }

  @include vp-tablet {
    top: unset;
    bottom: 0;
    width: 266px;
    height: 167px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-mobile {
    position: unset;
    margin-top: 40px;
    width: 100%;
    left: unset;
    transform: translateX(0);
    height: auto;
    aspect-ratio: 320/167;
  }
}

.gym__video-content,
.gym__video-poster,
.gym__video-button {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.gym__video-content {
  display: block;
  width: 100%;
  height: auto;

  &--hidden {
    display: none;
  }
}

.gym__video-poster {
  display: block;

  &--hidden {
    display: none;
  }

  @include vp-mobile {
    min-width: 100%;
    height: 100%;
  }

  img {
    @include vp-mobile {
      width: 100%;
      object-fit: cover;
    }
  }
}

.gym__video-button {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background: $gradient-video-button;
  cursor: pointer;

  @include vp-tablet {
    width: 52px;
    height: 52px;
  }

  &--hidden {
    display: none;
  }

  &:hover,
  &:focus-visible {
    background: $color-white;
  }

  &:active {
    width: 58px;
    height: 58px;

    @include vp-tablet {
      width: 38px;
      height: 38px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid $bg-banner;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;

    @include vp-tablet {
      width: 73px;
      height: 73px;
    }
  }

  &:hover::before,
  &:focus-visible::before {
    border-color: $color-basic;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 13px solid $color-white;
    top: 50%;
    left: calc(50% + 4px);
    transform: translate(-50%, -50%);
    z-index: 5;

    @include vp-tablet {
      width: 10px;
      height: 10px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 7px solid $color-white;
      left: calc(50% + 3px);
    }
  }

  &:hover::after,
  &:focus-visible::after {
    border-left: 13px solid $color-basic;

    @include vp-tablet {
      border-left: 7px solid $color-basic;
    }
  }
}
