.gym {
  margin: 0;
  padding-block: 120px;

  @include vp-tablet {
    padding-block: 100px;
  }
}

.gym__section-content {
  position: relative;
  display: grid;
  grid-template-columns: 50fr 66fr;
  grid-template-rows: auto 110px;

  @include vp-tablet {
    grid-template-columns: 1fr;
    grid-template-rows: auto 345px 83px;
  }

  @include vp-mobile {
    grid-template-rows: auto 313px 207px;

  }
}

.gym__description {
  padding: 39px 85px 38px 60px;

  @include vp-tablet {
    padding: 0px 88px 50px;
  }

  @include vp-mobile {
    padding: 0 0 50px;
  }
}

.gym__description h2 {
  margin: 0;
  color: #102654;
  font-family: $font-title;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 1.44px;
  margin-block-end: 7px;

  @include vp-tablet {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1.26px;
    margin-block-end: -2px;
  }
}

.gym__description h3 {
  margin: 0;
  font-family: $font-basic;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-block-end: 39px;
  /* 150% */

  @include vp-tablet {
    text-align: center;
    margin-block-end: 37px;
  }
}

.gym__description p {
  margin: 0;
  font-family: $font-basic;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  margin-block-end: 7px;
  /* 24px */

  @include vp-tablet {
    text-align: center;
    display: none;
  }
}

.gym__description p:first-of-type {

  @include vp-tablet {
    display: block;
  }
}

.gym__description p+p {
  margin-block-end: 0;
}

.gym__image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include vp-tablet {
    width: 678px;
    margin-inline: auto;
  }

  @include vp-mobile {
    width: 100%;
    position: relative;
  }
}

.gym__image-wrapper img {
  display: block;
  width: 660px;
  height: 401px;
  background-color: black;

  @include vp-tablet {
    width: 100%;
    height: auto;
  }

  @include vp-mobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.gym__video {
  width: 364px;
  height: 228px;
  position: absolute;
  bottom: 0;
  left: 37.6%;
  background-color: brown;
  // transform: translateX(-143px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @include vp-tablet {
    width: 266px;
    height: 167px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-mobile {
    width: 320px;
    height: 167px;
  }
}

.gym__video-content,
.gym__video-poster,
.gym__video-button {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.gym__video-content {
  display: block;

  &--hidden {
    display: none;
  }
}

.gym__video-poster {
  display: block;

  &--hidden {
    display: none;
  }
}

.gym__video-button {
  justify-self: center;
  align-self: center;
  position: relative;
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background: $gradient-button;
  cursor: pointer;

  &--hidden {
    display: none;
  }

  &:hover,
  &:focus-visible {
    background: $color-white;
  }

  &:active {
    width: 58px;
    height: 58px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }

  &:hover::before,
  &:focus-visible::before {
    border-color: $color-basic;
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 13px solid $color-white;
    top: 50%;
    left: calc(50% + 4px);
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  &:hover::after,
  &:focus-visible::after {
    border-left: 13px solid $color-basic;
  }
}
