.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header__logo-image {
  display: block;
  width: 122px;
  padding-block-start: 10px;

  @include vp-tablet {
    padding-block-start: 2px;
    width: 82px;
    // height: 17px;
  }

  @include vp-mobile {
    width: 67px;
  }
}

// .header__logo-image img {
//   object-fit: cover;
// }
