.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header__logo-image {
  display: block;
  width: 122px;
  height: 44px;

  @include vp-tablet {
    width: 82px;
    height: 17px;
  }

  @include vp-tablet {
    width: 69px;
    height: 24px;
  }
}
