.link {
  position: relative;
  width: fit-content;
  padding: 10px;
  font-family: $font-basic;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  // transform: translate(-10px, 9px);
  border-radius: 0;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    left: 10px;
    right: 10px;
    bottom: 9px;
    background-color: $color-basic;

  }

  &:focus-visible {
    padding: 9px;
    outline: none;
    border: 1px solid $color-basic;

    &::after {
      display: none;
    }
  }

  &--bg-dark {
    color: $color-white;

    &::after {
      background-color: $color-white;
    }

    &:focus-visible {
      border-color: $color-white;
    }
  }

  &--small {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;

    &::after {
      bottom: 8px;
    }
  }
}
