.main__hero {
  position: relative;
  // height: 550px;

  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background: $gradient-hero-desktop;
  }

}
