.offers {
  background-color: aquamarine;
  padding: 135px 0 120px;
}

.offers h2 {
  margin: 0;
  font-family: $font-accent;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
  text-align: center;
}
