.offers {
  padding: 142px 0 120px;

  @include vp-tablet {
    padding-block-start: 92px;
    padding-block-end: 100px;
  }

  @include vp-mobile {
    padding-block-start: 64px;
    padding-block-end: 70px;
  }
}

.offers h2 {
  margin: 0;
  font-family: $ff-accent;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-tablet {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
  }

  @include vp-mobile {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}
