.promotion-form {
  display: flex;
  flex-direction: column;

  @include vp-tablet {
    margin-block-start: 25px;
  }

  &__inputs-wrapper {
    width: 100%;
    display: flex;
    gap: 30px;

    @include vp-tablet {
      gap: 60px;
    }

    @include vp-mobile {
      flex-direction: column;
      gap: unset;
    }
  }

  &__submit-button {
    margin-block-start: 29px;
    width: 100%;
    height: 55px;

    @include vp-mobile {
      margin-block-start: 19px;
    }
  }

}
