.promotion {
  color: $color-white;
  background-color: $color-basic;

  &__section-content {
    width: 410px;
    height: 100%;
    padding: 56px 0 69px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  & h2 {
    margin: 0;
    margin-block-end: auto;
    font-family: $font-accent;
    font-size: 54px;
    font-weight: 800;
    line-height: 156%; /* 84.24px */
    letter-spacing: 1.62px;
  }
}
