.promotion {
  color: $color-white;
  background-color: $color-basic;

  &__section-content {
    width: 410px;
    height: 100%;
    padding: 56px 0 69px;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    @include vp-tablet {
      width: 100%;
      padding: 61px 118px 68px 88px;
      display: block;
    }

    @include vp-mobile {
      padding: 63px 0 68px;
    }
  }

  h2 {
    margin: 0;
    margin-block-end: 9px;
    font-family: $ff-accent;
    font-size: 54px;
    font-weight: 600;
    line-height: 156%;
    /* 84.24px */
    letter-spacing: 2.2px;

    @include vp-tablet {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 1.6px;
    }

    @include vp-mobile {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.93px;
    }
  }
}
