.review-card {
  background-color: $bg-card;
  height: 100%;
  min-height: 240px;
  padding: 62px;
  padding-inline-end: 58px;
  padding-block-end: 57px;
  color: $color-white;

  display: grid;
  grid-template-columns: 108px 1fr;
  grid-template-rows: min-content 1fr;

  @include vp-mobile {
    padding: 40px 25px 33px;
    grid-template-columns: 1fr 68px 14px fit-content(20%) 1fr;
    grid-template-rows: 68px 1fr;
  }

  & p {
    grid-column: -2 / -1;
    grid-row: 2 / -1;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    @include vp-mobile {
      grid-column: 1 / -1;
      margin-block-start: 14px;
      text-align: center;
    }

    /* 22.4px */
  }

  & p:last-of-type {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-block-start: -6px;
    margin-block-end: 12px;
    text-align: left;
    /* 30px */

    @include vp-mobile {
      grid-column: -3 / -2;
      align-self: center;
      margin: 0;
      overflow-wrap: break-word;
      line-height: 130%;
    }
  }

  & .review-card__avatar-wrapper {
    width: 80px;
    height: 80px;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;

    @include vp-mobile {
      width: 68px;
      height: 68px;
      grid-column: 2 / 3;
      grid-row: 1 / 2;

    }
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

  }
}
