.reviews {
  padding-block-start: 118px;
  padding-block-end: 120px;

  @include vp-tablet {
    padding-block-start: 91px;
    padding-block-end: 100px;
  }

  @include vp-mobile {
    padding-block-start: 63px;
    padding-block-end: 70px;
  }
}

.reviews h2 {
  margin: 0;
  font-family: $ff-accent;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-tablet {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
  }

  @include vp-mobile {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.reviews__swiper {
  margin-block-start: 37px;
  margin-inline: 300px;
  position: relative;

  box-shadow: (0 0 40px $review-card-shadow);

  @include vp-tablet {
    margin-block-start: 40px;
    margin-inline: 56px;
  }

  @include vp-mobile {
    margin-block-start: 43px;
    margin-inline: 32px;
  }
}

.reviews .swiper-wrapper {
  height: 100%;
  // background-color: red;
}

.reviews ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
