.subscription {
  background-color: $bg-additional;
  padding-block: 120px;

  @include vp-tablet {
    padding-block: 100px;
  }

  @include vp-mobile {
    padding-block: 71px;
  }
}

.subscription__section-content {
  margin-inline: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
  background-color: $bg-additional;

  @include vp-tablet {
    width: 442px;
  }
}

.subscription__title {
  margin: 0;
  color: $color-basic;
  font-family: $font-accent;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
  margin-block-end: 16px;

  @include vp-tablet {
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1.26px;
    margin-block-end: 21px;
  }

  @include vp-mobile {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.96px;
  }
}

.subscription__controls {
  position: relative;
  display: flex;
  gap: 47px;
  margin-bottom: 39px;

  @include vp-tablet {
    gap: 54px;
  }

  @include vp-tablet {
    width: 100%;
    gap: unset;
    justify-content: space-between;

  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $tabs-understroke;
  }

  // @media screen and (max-width: 767px) {
  //   flex-wrap: wrap;
  // }
}

.subscription__control {
  box-sizing: content-box;
  padding: 0 0 13px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: $color-basic;
  font-family: $font-basic;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.5;

  @include vp-tablet {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-mobile {
    font-size: 16px;
    line-height: 24px;
  }

  // @media screen and (max-width: 1023px) {
  //   margin: 0 10px;
  //   padding: 15px;
  // }

  // @media screen and (max-width: 767px) {
  //   margin: 10px 2% 0;
  //   padding: 10px;
  //   width: 45%;
  // }

  &.is-active {
    opacity: 1;
    padding-block-end: 11px;
    pointer-events: none;
    border-bottom: 2px solid $tabs-select-understroke;
  }
}

.subscription__content {
  position: relative;
  width: 100%;
  max-width: 1160px;

  transition: height 0.3s;

  @include vp-tablet {
    width: 442px;
  }

  @include vp-mobile {
    width: 100%;
  }


  &::before {
    content: "";
    width: 470px;
    height: 494px;
    background-image: url(../../img/weights-xl@1x.png);
    position: absolute;
    bottom: -269px;
    right: -286px;

    @include vp-tablet {
      width: 423px;
      height: 444px;
      bottom: -228px;
      right: -239px;
      background-image: url(../../img/weights-m@1x.png);
    }

    @include vp-mobile {
      display: none;
    }
  }
}

.subscription__element {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-tablet {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 41px;
  }

  @include vp-mobile {
    gap: 35px;
  }

  // @media screen and (max-width: 767px) {
  //   padding: 15px;
  // }

  //   p {
  //     margin: 0;

  //     &:not(:last-child) {
  //       margin: 0 0 20px 0;
  //     }
  //   }

  //   &:nth-child(1) {
  //     background-color: rgb(250, 235, 215);
  //   }

  //   &:nth-child(2) {
  //     background-color: rgb(229, 250, 215);
  //   }

  //   &:nth-child(3) {
  //     background-color: rgb(180, 188, 233);
  //   }

  //   &:nth-child(4) {
  //     background-color: rgb(255, 187, 204);
  //   }
  // }

  .tabs--unset .tabs__content {
    height: 100px;
  }

  .tabs--unset .tabs__element {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
