.trainers {
  padding-block-start: 106px;
  padding-block-end: 135px;
}

.trainers h2 {
  margin: 0;
  font-family: $font-accent;
  font-size: 54px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 1.62px;
}

.trainers__swiper {
  margin-block-start: 48px;
  position: relative;

  @include vp-tablet {
    margin-inline: 56px;
  }

  @include vp-mobile {
    margin-inline: 32px;
  }
}

