.trainer-card {
  background-color: #b9c0cf;
  // position: relative;
  display: grid;
  width: 100%;
  height: 294px;

  @include vp-tablet {
    height: 294px;
  }

  @include vp-mobile {
    height: 274px
  }
}

.trainer-card__data {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  color: transparent;
  background-color: transparent;
  padding: 51px calc((100% - 180px) / 2) 53px;
  height: 294px;
  height: 100%;
  position: absolute;
  top: 193px;
  transition: top 200ms,
  color 200ms,
  background-color 200ms;

  @include vp-mobile {
    top: 170px;
    padding: 41px calc((100% - 190px) / 2) 43px;
  }
}

.trainer-card:hover .trainer-card__data {
  top: 0;
  color: $color-white;
  background-color: $color-basic-a89;
}

.trainer-card img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
